* {
  font-family: "Roboto";
}
html,
body {
  height: 98vh;
}
body {
  background: url(background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  padding: 48px;
}
.card :where(h2, p) {
  color: #ffffff;
  text-align-last: center;
  margin: 0;
}
.card h2 {
  font-size: 48px;
}
.card p {
  margin-top: 8px;
  font-size: 16px;
  color: #d1d1d1;
}
